Java/SfdcDataCommon/lib/partner.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Web Services API : SfdcMailWebService -->
<definitions xmlns:SfdcParam="http://soap.sforce.com/schemas/class/SfdcParam" xmlns:ClientMailInfo="http://soap.sforce.com/schemas/class/ClientMailInfo" xmlns:tns="http://soap.sforce.com/schemas/class/SfdcMailWebService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.sforce.com/schemas/class/SfdcMailWebService">
<types>
<xsd:schema targetNamespace="http://soap.sforce.com/schemas/class/ClientMailInfo" elementFormDefault="qualified">
<xsd:complexType name="ClientMailInfo">
<xsd:sequence>
<xsd:element name="body" nillable="true" type="xsd:string" minOccurs="0"/>
<xsd:element name="clientId" nillable="true" type="tns:ID" minOccurs="0"/>
<xsd:element name="companyCode" nillable="true" type="xsd:string" minOccurs="0"/>
<xsd:element name="envelopeFromAddress" nillable="true" type="xsd:string" minOccurs="0"/>
<xsd:element name="fromAddress" nillable="true" type="xsd:string" minOccurs="0"/>
<xsd:element name="fromName" nillable="true" type="xsd:string" minOccurs="0"/>
<xsd:element name="replayToName" nillable="true" type="xsd:string" minOccurs="0"/>
<xsd:element name="replyToAddress" nillable="true" type="xsd:string" minOccurs="0"/>
<xsd:element name="sendKbn" nillable="true" type="xsd:string" minOccurs="0"/>
<xsd:element name="sendSeq" nillable="true" type="xsd:decimal" minOccurs="0"/>
<xsd:element name="seqNo" nillable="true" type="xsd:string" minOccurs="0"/>
<xsd:element name="subject" nillable="true" type="xsd:string" minOccurs="0"/>
<xsd:element name="toAddress" nillable="true" type="xsd:string" minOccurs="0"/>
<xsd:element name="toName" nillable="true" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema targetNamespace="http://soap.sforce.com/schemas/class/SfdcParam" elementFormDefault="qualified">
<xsd:complexType name="SfdcParam">
<xsd:sequence>
<xsd:element name="id" nillable="true" type="tns:ID" minOccurs="0"/>
<xsd:element name="retryCount" nillable="true" type="xsd:int" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema targetNamespace="http://soap.sforce.com/schemas/class/SfdcMailWebService" elementFormDefault="qualified">
<xsd:import namespace="http://soap.sforce.com/schemas/class/ClientMailInfo"/>
<xsd:import namespace="http://soap.sforce.com/schemas/class/SfdcParam"/>
<xsd:element name="AllowFieldTruncationHeader">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CallOptions">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="client" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DebuggingHeader">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="categories" type="tns:LogInfo" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="debugLevel" type="tns:LogType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="LogInfo">
<xsd:sequence>
<xsd:element name="category" type="tns:LogCategory"/>
<xsd:element name="level" type="tns:LogCategoryLevel"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="LogCategory">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Db"/>
<xsd:enumeration value="Workflow"/>
<xsd:enumeration value="Validation"/>
<xsd:enumeration value="Callout"/>
<xsd:enumeration value="Apex_code"/>
<xsd:enumeration value="Apex_profiling"/>
<xsd:enumeration value="Visualforce"/>
<xsd:enumeration value="System"/>
<xsd:enumeration value="Wave"/>
<xsd:enumeration value="All"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LogCategoryLevel">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="None"/>
<xsd:enumeration value="Finest"/>
<xsd:enumeration value="Finer"/>
<xsd:enumeration value="Fine"/>
<xsd:enumeration value="Debug"/>
<xsd:enumeration value="Info"/>
<xsd:enumeration value="Warn"/>
<xsd:enumeration value="Error"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LogType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="None"/>
<xsd:enumeration value="Debugonly"/>
<xsd:enumeration value="Db"/>
<xsd:enumeration value="Profiling"/>
<xsd:enumeration value="Callout"/>
<xsd:enumeration value="Detail"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="DebuggingInfo">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="debugLog" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="SessionHeader">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="sessionId" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:simpleType name="ID">
<xsd:restriction base="xsd:string">
<xsd:length value="18"/>
<xsd:pattern value="[a-zA-Z0-9]{18}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="address">
<xsd:complexContent>
<xsd:extension base="tns:location">
<xsd:sequence>
<xsd:element name="city" type="xsd:string"/>
<xsd:element name="country" type="xsd:string"/>
<xsd:element name="countryCode" type="xsd:string"/>
<xsd:element name="geocodeAccuracy" type="xsd:string"/>
<xsd:element name="postalCode" type="xsd:string"/>
<xsd:element name="state" type="xsd:string"/>
<xsd:element name="stateCode" type="xsd:string"/>
<xsd:element name="street" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="location">
<xsd:sequence>
<xsd:element name="latitude" type="xsd:double"/>
<xsd:element name="longitude" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getMailInfoList">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="limitSize" nillable="true" type="xsd:int"/>
<xsd:element name="lastSendId" nillable="true" type="tns:ID"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getMailInfoListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="result" nillable="true" type="ClientMailInfo:ClientMailInfo" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendMail">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="limitSize" nillable="true" type="xsd:int"/>
<xsd:element name="retryCount" nillable="true" type="xsd:int"/>
<xsd:element name="waitSeconds" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendMailResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="result" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateManageList">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="successList" nillable="true" type="SfdcParam:SfdcParam" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="failureList" nillable="true" type="SfdcParam:SfdcParam" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateManageListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="result" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateReceiverList">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="successList" nillable="true" type="SfdcParam:SfdcParam" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="failureList" nillable="true" type="SfdcParam:SfdcParam" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="lastSendId" nillable="true" type="tns:ID"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateReceiverListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="result" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</types>
<!-- Message for the header parts -->
<message name="Header">
<part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
<part name="CallOptions" element="tns:CallOptions"/>
<part name="DebuggingHeader" element="tns:DebuggingHeader"/>
<part name="DebuggingInfo" element="tns:DebuggingInfo"/>
<part name="SessionHeader" element="tns:SessionHeader"/>
</message>
<!-- Operation Messages -->
<message name="getMailInfoListRequest">
<part name="parameters" element="tns:getMailInfoList"/>
</message>
<message name="getMailInfoListResponse">
<part name="parameters" element="tns:getMailInfoListResponse"/>
</message>
<message name="sendMailRequest">
<part name="parameters" element="tns:sendMail"/>
</message>
<message name="sendMailResponse">
<part name="parameters" element="tns:sendMailResponse"/>
</message>
<message name="updateManageListRequest">
<part name="parameters" element="tns:updateManageList"/>
</message>
<message name="updateManageListResponse">
<part name="parameters" element="tns:updateManageListResponse"/>
</message>
<message name="updateReceiverListRequest">
<part name="parameters" element="tns:updateReceiverList"/>
</message>
<message name="updateReceiverListResponse">
<part name="parameters" element="tns:updateReceiverListResponse"/>
</message>
<portType name="SfdcMailWebServicePortType">
<operation name="getMailInfoList">
<input message="tns:getMailInfoListRequest"/>
<output message="tns:getMailInfoListResponse"/>
</operation>
<operation name="sendMail">
<input message="tns:sendMailRequest"/>
<output message="tns:sendMailResponse"/>
</operation>
<operation name="updateManageList">
<input message="tns:updateManageListRequest"/>
<output message="tns:updateManageListResponse"/>
</operation>
<operation name="updateReceiverList">
<input message="tns:updateReceiverListRequest"/>
<output message="tns:updateReceiverListResponse"/>
</operation>
</portType>
<binding name="SfdcMailWebServiceBinding" type="tns:SfdcMailWebServicePortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMailInfoList">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:Header" part="SessionHeader" use="literal"/>
<soap:header message="tns:Header" part="CallOptions" use="literal"/>
<soap:header message="tns:Header" part="DebuggingHeader" use="literal"/>
<soap:header message="tns:Header" part="AllowFieldTruncationHeader" use="literal"/>
<soap:body use="literal" parts="parameters"/>
</input>
<output>
<soap:header message="tns:Header" part="DebuggingInfo" use="literal"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendMail">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:Header" part="SessionHeader" use="literal"/>
<soap:header message="tns:Header" part="CallOptions" use="literal"/>
<soap:header message="tns:Header" part="DebuggingHeader" use="literal"/>
<soap:header message="tns:Header" part="AllowFieldTruncationHeader" use="literal"/>
<soap:body use="literal" parts="parameters"/>
</input>
<output>
<soap:header message="tns:Header" part="DebuggingInfo" use="literal"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateManageList">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:Header" part="SessionHeader" use="literal"/>
<soap:header message="tns:Header" part="CallOptions" use="literal"/>
<soap:header message="tns:Header" part="DebuggingHeader" use="literal"/>
<soap:header message="tns:Header" part="AllowFieldTruncationHeader" use="literal"/>
<soap:body use="literal" parts="parameters"/>
</input>
<output>
<soap:header message="tns:Header" part="DebuggingInfo" use="literal"/>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateReceiverList">
<soap:operation soapAction=""/>
<input>
<soap:header message="tns:Header" part="SessionHeader" use="literal"/>
<soap:header message="tns:Header" part="CallOptions" use="literal"/>
<soap:header message="tns:Header" part="DebuggingHeader" use="literal"/>
<soap:header message="tns:Header" part="AllowFieldTruncationHeader" use="literal"/>
<soap:body use="literal" parts="parameters"/>
</input>
<output>
<soap:header message="tns:Header" part="DebuggingInfo" use="literal"/>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SfdcMailWebServiceService">
<documentation/>
<port name="SfdcMailWebService" binding="tns:SfdcMailWebServiceBinding">
<soap:address location="https://ap5.salesforce.com/services/Soap/class/SfdcMailWebService"/>
</port>
</service>
</definitions>